header.headerComponent {
    width: calc(100vw - 300px);
    height: 100px;
    position: fixed;
    right: 0px;
    top: 0;
    background-color: #0000009a;
    backdrop-filter: grayscale(80%) blur(100px);
    /* filter: grayscale(); */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
}
header.headerComponent .coverImg{
    width: 100%;
    height: 100% !important;
    position: absolute;
    z-index: 0;
    top: 0;
    overflow: hidden;
    background-color: black;
  
  }
  header.headerComponent .coverImg img{
    width: 100%;
    height: 100%;
    object-position: left !important;
    object-fit: cover;
    filter: opacity(5%) !important;
  }
  
header.headerComponent > i {
    margin: 30px;
    margin-left: 5%;
    margin-right: 5%;
    width: 50px;
    height: 50px;
    z-index: 1;
}
header.headerComponent > i svg{
    width: 100%;
    height: 100%;
}
header.headerComponent > i.ic-OPMNU{
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    header.headerComponent {
        width: 100% !important;
        max-width: 100vw !important;
    }
    header.headerComponent > i {
        width: 35px;
        height: 35px;
    }
  }